#header-logo {
  height: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

ul.projects li {
  list-style-type: none;
  width: 25%;
  margin-right: 12.5%;
  text-align: center;
  float: left;

  &:last-child {
    margin-right: 0px;
  }

  div.img-wrapper {
    width: 100%;
    height: 150px;

    img {
      width: 100%;
    }
  }
}